@import url('https://fonts.googleapis.com/css?family=Oswald:500');

/*NAVBAR*/
.navbar {
  text-align: center; 
  align-items: center; 
  display: flex;
  justify-content: center; 
  position: sticky;
  background-color: black;
  font: bold 17px/1.4 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

ul {
  list-style-type: none; /*sacar puntitos d adelante */
  display: inline-block; 
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

#idInicio,
#idCartelera,
#idCombos {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-decoration: none;
  margin-left: 15px;
}
#logoNavbar {
  /* display: inline-block; */
  max-width: 80px;
  height: auto;
  margin: 10px;
  margin-right: 20px;
}
body {
  margin: 0px;
}

#sectInicio {
  display: block;
}

#sectCartelera {
  display: none;
}

#sectCombos {
  display: none;
}

/*CAROUSEL*/

* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/*Efectos hover de los botones prev y next*/
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}