@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0px;
  /* background-color: #CFDEDF; */
  background-image: url(resources/fondo2.jpg);
}

#centrar {
  /* background-color: #CFDEDF; */
  overflow: hidden;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #FDF3E4;
}

/*----------------------NAVBAR----------------------*/
.navbar {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: black;
  font: bold 17px/1.4 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;

}

ul {
  list-style-type: none;
  /*sacar puntitos d adelante */
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

#idInicio,
#idCartelera,
#idCombos {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-decoration: none;
  margin-left: 15px;
  position: relative;
  text-decoration: none;
}

#idInicio::before,
#idCartelera::before,
#idCombos::before {
  content: '';
  position: absolute;
  bottom: -1px;
  /* Ajusta la posición del subrayado para que esté justo debajo del texto */
  left: 0;
  width: 0;
  height: 1px;
  /* Grosor del subrayado */
  background-color: #CFDEDF;
  /* Color del subrayado */
  transition: width 0.3s ease-in-out;
  /* Aplica la transición solo a la anchura del subrayado */
}

#idInicio:hover::before,
#idCartelera:hover::before,
#idCombos:hover::before {
  width: 100%;
  /* Ancho completo del subrayado en el estado hover */
}

#logoNavbar {
  /* display: inline-block; */
  max-width: 80px;
  height: auto;
  margin: 10px;
  margin-right: 20px;
}


/*----------------------SECCION INICIO----------------------*/
#sectInicio {
  display: block;
  margin-top: 10px;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nombreCine {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
/* SELECT BOX */
#selectBox {
  max-width: 960px;
  margin-left: 120px;
  margin-bottom: 20px;
}

#selectPeliculas {
  background-color: #abc5c7;
  border-radius: 6px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-color: transparent;
  height: 30px;
}

/*CAROUSEL*/
* {
  box-sizing: border-box;
}

#pagination {
  text-align: right;
  margin-right: 118px;
  margin-bottom: 20px;
}

#pagination a {
  background: #abc5c7;
  border-radius: 3px;
  color: #000000;
  margin: 0 3px;
  padding: 8px 12px 6px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.slideshow-container {
  max-width: 960px;
  height: 353px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

#tituloImg1,
#tituloImg2,
#tituloImg3,
#tituloImg4,
#tituloImg5 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 25px;
  position: absolute;
  bottom: 8px;
  right: 0 px;
  width: 100%;
  z-index: 9999;
  text-align: right;
  float: none;
  background: linear-gradient(to right, rgba(17, 17, 17, 0) 0%, rgba(89, 89, 89, 0) 0%, rgba(28, 28, 28, 0) 0%, rgba(43, 43, 43, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
  font-family: 'poppins', sans-serif;
  font-size: 22px;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: white;
  transition: 0.6s ease;
  user-select: none;
  /* border-radius: 0 3px 3px 0; */
  transform: translateY(-50%);
  font: 30px 'Poppins', sans-serif;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

/*Efectos hover de los botones prev y next*/
#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
/*GALLERY OFERTAS*/
.row2 {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
}
.row2 img, .row3 img {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
}
.row3{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
}
.column2 {
  float: left;
  width:  25%;
  padding: 5px;
}
/*----------------------SECCION CARTELERA----------------------*/
#sectCartelera {
  display: none;
}
#peliculas{
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.row {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}
.imgPelicula img {
  width: 195px;
  height: 288px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.colIzq {
  width: 70%;
  height: 290px;
  display: inline-flex;
  background-color: rgba(171, 171, 171, 0.206);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.colIzq h3, .colIzq p, .colIzq h6 {
  padding: 0px 20px 0px 20px ;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.colIzq h3{
  font-size: 20px;
}
.colIzq h6 {
  font-size: 16px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
}
.colDer {
  width: 30%;
  display: flex;
  background-color: rgba(208, 208, 208, 0.234);
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}
.colDer img{
  height: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.actores {
  display: table-cell;
} 
.colDer h5{
  font-size: 16px;
}
.colDer p, .colDer h5 {
  font-family: 'Poppins', sans-serif;
  display: inline;
  
}
/*----------------------SECCION COMBOS----------------------*/
#sectCombos {
  display: none;
}

#comboCard {
  position: relative;
}

#comboDiv1,
#comboDiv2,
#comboDiv3,
#comboDiv4 {
  border-radius: 10px;
  background-color: #e3e2d8f3;
  width: 700px;
  margin-left: 250px;
  -webkit-box-shadow: 2px 5px 15px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 2px 5px 15px -2px rgba(0, 0, 0, 0.66);
}

#comboImgDiv1,
#comboImgDiv2,
#comboImgDiv3,
#comboImgDiv4 {
  text-align: center;
}

#sectCombos h2 {
  font: bold 17px/1.4 'Poppins', sans-serif;
  font-size: 23px;
  margin-left: 35px;
  margin-bottom: 5px;
}

#sectCombos p {
  margin-left: 35px;
  font: 17px/1.4 'Poppins', sans-serif;
  margin-top: 5px;

}

/*----------------------------FOOTER-------------------*/
#footer {
  position: static;
  bottom: 0;
  margin: 0 auto; 
  width: 1200px;
  height: auto;
  background-color: #000000;
  display: flex;
  justify-content: center;
}
#infoFooter {
  /* margin-left: 500px;*/
  text-align: center; 
  justify-content: center;
}
#botonesFooter{
  padding-top: 50px;
  padding-bottom: 30px;
}
#botonesFooter a {
  color: aliceblue;
  padding-left: 20px;
  font: 15px 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

#copyright p {
  font: 10px 'Poppins', sans-serif;
  color: aliceblue;
  padding-top: 15px;
  padding-left: 29px;
  /* text-align: right; */
}

#logo {
  /* padding-left: 50px; */
  height: 200px;
}